<style>
    /*    #voteRemainingTime {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
    }*/

    body {
        background-color: rgba(0, 0, 0, 0);
    }

    .option {
        background-color: rgba(255, 255, 255, 0.9);
        width: 400px;
        float: left;
        padding: 20px;
        margin: 10px;
        box-shadow: 0px 2px 4px 3px rgba(0, 0, 0, 0.2);
    }

        .option > h1 {
            font-size: 20px;
            text-align: center;
        }

    .votes {
        text-align: center;
        font-weight: bold;
        float: right;
    }

    .cmd {
        text-align: center;
        color: rgb(0, 0, 0);
    }

    .code-pop {
        font-size: 120%;
        font-weight: bold;
        color: #fbff00;
        word-break: break-word;
        background-color: rgba(0, 0, 0, 0.15);
        padding: 5px 10px;
    }
</style>

<div class="container-fluid">
    <div class="row mt-1">
        <div class="col-12">
            <div class="progress bg-dark" id="voteRemainingTime">
                <div id="t" class="progress-bar bg-danger" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>
    <div class="row mt-1 no-gutters" id="CardsList">
        @*<div class="col-3 p-1">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        Send <code class='code-pop'>0</code> in the chat to vote for:
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Tilt Player Head 45 Degrees (30 seconds)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">0 votes</h6>
                    </div>
                </div>
            </div>
            <div class="col-3 p-1">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        Send <code class='code-pop'>1</code> in the chat to vote for:
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Tilt Player Head 45 Degrees (30 seconds)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">2 votes</h6>
                    </div>
                </div>
            </div>
            <div class="col-3 p-1">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        Send <code class='code-pop'>2</code> in the chat to vote for:
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Tilt Player Head 45 Degrees (30 seconds)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">0 votes</h6>
                    </div>
                </div>
            </div>
            <div class="col-3 p-1">
                <div class="card text-white bg-dark">
                    <div class="card-header">
                        Send <code class='code-pop'>3</code> in the chat to vote for:
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Tilt Player Head 45 Degrees (30 seconds)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">0 votes</h6>
                    </div>
                </div>
            </div>*@
    </div>
    <div class="row mt-1 no-gutters">
        <div class="col-12">
            <div class="alert alert-danger invisible" role="alert" id="RapidFireAlert">
                <div class="spinner-grow text-danger float-left" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <p style="margin: 4px 0px 0px 40px"><strong>RAPID FIRE!</strong> Votes instantly make things happen! <strong>FEEL FREE TO SPAM THOSE NUMBERS</strong></p>
            </div>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/updatehub").build();

    function cardFromData(data) {
        var col = document.createElement('div');
        col.classList.add('col-3');
        col.classList.add('p-1');

        var card = document.createElement('div');
        card.classList.add('card');
        card.classList.add('text-white');
        card.classList.add('bg-dark');

        var cardHeader = document.createElement('div');
        cardHeader.classList.add('card-header');
        cardHeader.innerHTML = data.description;

        var cardBody = document.createElement('div');
        cardBody.classList.add('card-body');

        var cardTitle = document.createElement('h5');
        cardTitle.classList.add('card-title');
        cardTitle.textContent = data.name;

        var cardSubtitle = document.createElement('h6');
        cardSubtitle.classList.add('card-subtitle');
        cardSubtitle.classList.add('mb-2');
        cardSubtitle.classList.add('text-muted');
        cardSubtitle.textContent = data.votes;

        col.appendChild(card);
        card.appendChild(cardHeader);
        card.appendChild(cardBody);
        cardBody.appendChild(cardTitle);
        cardBody.appendChild(cardSubtitle);

        return col;
    }

    var f = document.getElementById('t');
    var cont = document.getElementById('CardsList')
    var rapidFireAlert = document.getElementById('RapidFireAlert');

    connection.on("UpdateTimePercentage", function (data) {
        f.style.setProperty('width', data.percentage + '%');

        if (data.rapidFire) {
            rapidFireAlert.classList.remove('invisible');
        } else {
            rapidFireAlert.classList.add('invisible');
        }

        cont.innerHTML = "";
        for (let i = 0; i < data.options.length; i++) {
            cont.appendChild(cardFromData(data.options[i]));
        }
    });

    connection.start();
</script>
